.gr .tox{
	width: 300px;
	height: 70px;
	/* 	 */
	position: relative;
}
.gr:hover{
	box-shadow: 0px 0px 30px 5px greenyellow;
}
.gr .tox img{
	margin-top: 13px;
	margin-left: 10px;
}
.gr .tox img + span{
	display: block;
	width: 100px;
	height: 10px;
	text-align: left;
	/* background-color: black; */
	margin-top: -50px;
	margin-left: 70px;
	color: #E1E1E1E1;
	font-size: 14px;
}
.gr .tox img + span:hover{
	color: #FC5531;
}

.gr .tox .xue{
	width: 100px;
	height: 20px;
	/* background-color: blue; */
	font-size: 13px;
}
.gr .tox .x1{
	position: absolute;
	left: 140px;
	top: 38px;
	color: #999AAA;
}
.gr .tox .x2{
	position: absolute;
	left: 70px;
	top: 38px;
	color: #999AAA;
}
.gr .shul
{
	width: 300px;
	height: 68px;
/* 	background-color: #FC5531; */
	position: relative;
	border-bottom: 1px solid #373739;
}
.gr .shul>div{
	width: 280px;
	height: 50px;
	/* background-color: violet; */
	position: absolute;
	left: 10px;
	top: 8px;
}
.gr .shul .shulhe{
	width: 55px;
	height: 22px;
	/* background-color: aqua; */
	color: #C4C4C8;
	float: left;
	
	text-align: center;
	line-height: 26px;
}
.gr .shul .shulhr{
	width: 55px;
	height: 28px;
	/* background-color: black; */
	color: #999AAA;
	float: left;
	text-align: center;
	line-height: 28px;
}
.gr .shul .shulhr:hover{
	color: #FC5531;
}
.zjian>ul{
	display: inline-block;
	width: 940px;
	height: 1800px;
	margin: 20px 50px;
	/* border: 2px solid #FFD700; */
	/* background-color: aqua; */
}
.zjian:hover{
	box-shadow: 0px 0px 50px 10px greenyellow;
}
.zjian .boxf{
	
	width: 300px;
	height: 200px;
	float: left;
	margin: 10px 5px;
	border-radius: 20px;
	position: relative;
	
	box-shadow: 0px 0px 10px 10px black;
}
.zjian .boxf:hover{
	box-shadow: 0px 0px 10px 10px greenyellow;
}
.zjian .boxf>ul{
	width: 200px;
	height: 30px;
	margin: 0px auto;
	
}
.zjian .boxf li{
	width: 50px;
	height: 30px;
	background-color: seagreen;
	float: left;
	margin-left: 10px;
	text-align: center;
}
.zjian .boxf .yi{
	width: 200px;
	height: 150px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
	margin: 5px auto;
}
.zjian .boxf .er{
	width: 50px;
	height: 150px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
	float: left;
}
.zjian .boxf .x1{
	background-color: aqua;
}
.zjian .boxf .x2{
	background-color: blue;
}
.zjian .boxf .san{
	width: 200px;
	height: 150px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
	margin: 5px auto;
	
    transition: 2s;
}
.zjian .boxf .san:hover{
	background-color: blue;
}
.zjian .boxf .si{
	width: 100px;
	height: 150px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
	transition: 2s;
	margin-left: 60px;
}
.zjian .boxf .si:hover{
	width: 200px;
}
.zjian .boxf .wu{
	width: 100px;
	height: 150px;
	background-color: #FFD700;
	animation: fu 2s linear 0s infinite alternate;
	box-shadow: 0px 0px 10px 5px black;
	/* fu ：动画命名 
	2s 执行时间2s  
	0s：初始执行时间 
	ininfinite:无限循环 
	alternate:收缩也有动画
	 */ 
}
@keyframes fu{
	from{
		width: 100px;
	}
	to{
		width: 200px;
	}
	
}
.zjian .boxf .liu{
	width: 100px;
	height: 50px;
	background-color: aqua;
	border: 2px solid #FFD700;
	box-shadow: 0px 0px 10px 5px black;
}
.zjian .boxf .liu .yifw{
	width: 150px;
	height: 160px;
	background-color: blue;
	position: relative;
	left: 100px;
	top: -25px;
	display: none;
}
.zjian .boxf .liu:hover .yifw{
	display: block;
}
.zjian .boxf .liu .erfe{
	width: 150px;
	height: 160px;
	background-color: #FFD700;
	position: relative;
	left: 100px;
	top: -78px;
	display: none;
}
.zjian .boxf .liu:hover .erfe{
	display: block;
}
.zjian .boxf .liu .sanfq{
	width: 150px;
	height: 160px;
	background-color: green;
	position: relative;
	left: 100px;
	top: -131px;
	display: none;
}
.zjian .boxf .liu:hover .sanfq{
	display: block;
}
.zjian .boxf #qi{
	width: 150px;
	height: 150px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
	border-radius: 20px;
	margin: 5px auto;
	overflow: hidden;
	border: 2px solid #FFD700;
}
.zjian .boxf #qi #tuup{
	width: 800px;
	height: 150px;
	animation: funq 2s steps(4) 0s infinite;
}
.zjian .boxf #qi #tuup img{
	width: 150px;
	float: left;
	
}
@keyframes funq{
	to{
		margin-left: -600px;
	}
}
.zjian .boxf #ba{
	width: 200px;
	height: 150px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
	margin: 5px auto;
	font-size: 18px;
}
.zjian .boxf .jiu{
	width: 200px;
	height: 30px;
	margin: 2px 50px;
	box-shadow: 0px 0px 10px 5px black;
}
.zjian .boxf .shi{
	width: 200px;
	height: 150px;
	margin: 2px 50px;
	box-shadow: 0px 0px 10px 5px black;
}
.zjian .boxf #shiy{
	width: 200px;
	height: 150px;
	margin: 2px 50px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
	font-size: 18px;
}
.zjian .boxf .shier{
	width: 200px;
	height: 150px;
	margin: 2px 50px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
}
.zjian .boxf #shisan{
	width: 200px;
	height: 150px;
	margin: 2px 50px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
}
.zjian .boxf #shisan select{
		width: 130px;
		height: 20px;
		border-radius: 20px;
}
.zjian .boxf #shisan input{
	width: 50px;
	height: 30px;
}
.zjian .boxf #shisan #scnr{
	width: 200px;
	height: 60px;
	background-color: aqua;
	margin-top: 60px;
}
.zjian .boxf #dqsj1{
	width: 200px;
	height: 30px;
	background-color: white;
	margin: 10px 50px;
	border-radius: 20px;
	box-shadow: 10px 10px 46px 4px black;
	transition: 2s;
}
.zjian .boxf #dqsj2{
	width: 200px;
	height: 50px;
	background-color: blueviolet;
	margin: 10px 50px;
}
.zjian .boxf #dqsj1:hover{
	width: 210px;
	height: 60px;
	background-color: coral;
	color: wheat;
}
.zjian .boxf #shiwu{
	width: 200px;
	height: 60px;
	background-color: white;
	margin: 10px 50px;
	border-radius: 20px;
	box-shadow: 10px 10px 46px 4px black;
	transition: 2s;
}
.zjian #shiliu{
	width: 118px;
	height: 80px;
	border: 0px solid red;
	box-shadow: 0px 0px 10px 5px black;
	margin-top: 20px;
	margin-left: 80px;
	overflow: hidden;

}
.zjian #shiliu .shiliutp1{
	width: 118px;
}
.zjian #shiliu .shiliutp2{
	width: 50px;
	
	position: absolute;
	top: 68px;
	left: 110px;
}

.zjian #shiliu:hover .shiliutp1{
	margin-top: -80px;
}
.zjian #shiliu:hover .shiliutp2{
	margin-top: -80px;
	display: none;
}
.zjian .boxf .shiliuin1{
	width: 35px;
	height: 40px;
	float: left;
	border-radius: 5px;
	
	box-shadow: 1px 1px 5px 1px black;
}
.zjian .shiqi{
	width: 200px;
	height: 150px;
	background-color: #999AAA;
	box-shadow: 0px 0px 10px 5px black;
	margin-left: 50px;
}
.zjian .shiqi .boxx{
	width: 20px;
	height: 50px;	
	box-shadow: 0px 0px 15px 5px black;
	margin-left: 20px;
	animation: box 1s linear 0s infinite alternate;
	float: left;
}
@keyframes box{
	
	to{
		margin-top: 100px;
	}
}

.zjian .shiba{
	width: 200px;
	height: 50px;
	margin: 30px 55px;
	box-shadow: 0px 0px 20px 5px greenyellow;
	/*   a = 左右值  b = 上下值  c = 阴影浓度 d  = 范围大小     */
}
.zjian .shijiu{

	width: 200px;
	height: 160px;
	margin: 10px 55px;

}
.zjian .shijiu .shangchuan{

	opacity: 0;
	width: 200px;
	height: 50px;
	border: 1px solid red;
	z-index: 999;
	position: absolute;
	top: 50px;
	left: 55px;
}
.zjian .shijiu .shangc{
	width: 200px;
	height: 50px;
	background-color: #FFD700;
	text-align: center;
	line-height: 50px;
	border-radius: 20px;
	color: #999AAA;
	transition: 2s;
}
.zjian .shijiu .chuans{

	width: 100px;
	height: 30px;
	background-color: red;
	margin-left: 40px;
}
.zjian .shijiu .xiazaiwen{

	width: 200px;
	height: 20px;
	/*text-decoration: none;*/
}
.zjian .shijiu .shijiu_queren{
	width: 100px;
	height: 40px;
	background-color: red;
	margin-left: 40px;
}







/* 
 
第二页内容 
第二页内容 

第二页内容 

第二页内容 
第二页内容 第二页内容 

第二页内容 
第二页内容 

第二页内容 
第二页内容 
第二页内容 

第二页内容 
第二页内容 

 
 

 */
.zjianer:hover{
	box-shadow: 0px 0px 20px 5px greenyellow;
	
}
.zjianer>ul{
	width: 700px;
}
.zjianer>ul .diery{
	display: inline-block;
	width: 800px;
	height: 300px;
	border-radius: 10px;
	background-color: #FFD700;
	box-shadow: 0px 0px 10px 5px black;
	margin-top: 50px;
	margin-left: 100px;
}
.zjianer>ul .diery p:nth-child(1){
	width: 200px;
	height: 30px;
	box-shadow: 0px 0px 10px 5px black;
	float: left;
}
.zjianer>ul .diery p:nth-child(2){
	display: inline-block;
	
	width: 300px;
	height: 30px;
	text-align: right;
	font-size: 18px;
	float: left;
	margin-left: 291px;
	box-shadow: 0px 0px 10px 5px black;
}
.zjianer>ul .diery img{
	width: 351px;
	height: 220px;
	margin: 30px 20px;
	float: left;
}
.zjianer ul .diery h2{
	text-align: center;
	color: black;
	margin-top: 50px;
}
.zjianer ul .diery span{
	overflow-y:auto;
	width: 400px;
	height: 200px;
	color: #999AAA;
	float: left;
	text-align: center;
	box-shadow: 0px 0px 10px 5px black;
}


/* 
 
第二页内容 
第二页内容 

第二页内容 

第二页内容 
第二页内容 第二页内容 

第二页内容 
第二页内容 

第二页内容 
第二页内容 
第二页内容 

第二页内容 
第二页内容 

 
 

 */













.zjiansan:hover{
	box-shadow: 0px 0px 20px 5px greenyellow;
	
}
.zjiansan>ul{
	width: 800px;
}
.zjiansan .disanyebox{
	display: inline-block;
	width: 900px;
	height: 600px;
	margin-top: 50px;
	margin-left: 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 5px black;
	position: relative;
}
.zjiansan .disanyebox h2{
	color: #FFD700;
	
	
}
.zjiansan .disanyebox p{
	height: 30px;
	text-align: right;
	color: aqua;
}
.zjiansan .disanyebox p:hover{
	border-radius: 10px;
	color: #FC5531;
}
.zjiansan .disanyebox .dahe{
	width: 790px;
	height:400px;
	/*border: 2px solid blue;*/
	margin-left: 10px;
	overflow: hidden;
}
.zjiansan .disanyebox #he{
	width: 4000px;
	height: 400px;
	margin-left: 10px;
	/* margin-left: -1010px; */
}
.zjiansan .disanyebox #he img{
	width: 800px;
	float: left;
}
.zjiansan .disanyebox #shangyiye{
	width: 30px;
	height: 80px;
	background-color: red;
	position: absolute;
	top: 230px;
	left: 11px;
	line-height: 80px;
}
.zjiansan .disanyebox #xiayiye{
	width: 30px;
	height: 80px;
	background-color: red;
	position: absolute;
	top: 250px;
	left: 774px;
	line-height: 80px;
}
.zjiansan .disanyebox #shangyiyediyi{
	position: absolute;
	top: 409px;
	left: 587px;
}
.zjiansan .disanyebox #shangyiyediyi li{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	background-color: #C4C4C8;	
	float: left;
	text-align: center;
	line-height: 50px;
}
.zjiansan .disanyebox .sanzsan{
	width: 790px;
	height: 500px;
	border: 2px solid blue;
	margin-left: 10px;
	background-color: #f9f5f0;
	overflow: hidden;
}
.zjiansan .disanyebox .sanzsan>img{
	width: 790px;
}
.zjiansan .disanyebox .sanzsan #hezi{
	margin-left: 90px;
}

.zjiansan .disanyebox .sanzsan button{
	width: 150px;
	height: 50px;
	border-radius: 20px;
}
.zjiansan .disanyebox .sanzsan section{
	width: 790px;
	overflow: hidden;
}
.zjiansan .disanyebox .sanzsan section img{
	

}
.zjiansan .disanyebox:nth-child(3){
	height: 1200px;
}
.zjiansan .disanyebox .sanzhangsan{
	
}
.zjiansan .disanyebox .sanzhangsan ul{
	
				width: 900px;
				height: 300px;
				margin-top: 10px;
				margin-left: 25px;
					
}
.zjiansan .disanyebox .sanzhangsan ul li{
						list-style: none;
						
						width: 200px;
						height: 300px;
			/* 			border: 1px solid red; */
						
						float: left;
						background-color: #F8F8FF;
						transition: 0.5s;
						margin-left: 10px;
						
}
.zjiansan .disanyebox .sanzhangsan ul li:hover{
					margin-top: -5px;
					box-shadow: 0px 0px 20px 10px black;
}
.zjiansan .disanyebox .sanzhangsan ul li>div{
				width: 200px;
				height: 400px;
				overflow: hidden;
}
.zjiansan .disanyebox .sanzhangsan ul li img{
				margin-left: 40px 	;
				width: 160px;
}
.zjiansan .disanyebox .sanzhangsan ul li>p{
				width: 200px;
				height: 100px;
				/* border: 1px solid red; */
			
				margin: 20px 0px;
			
}
.zjiansan .disanyebox .sanzhangsan ul li>p>span{
				display: block;
				width: 200px;
					
				/* border: 1px solid red;	 */		
				text-align: center;
}
.zjiansan .disanyebox .sanzhangsan ul li>p>span:nth-child(2){
				color: coral;
				margin-top: 35px;
}

.zjiansan .disanyebox .sanzhangsan table{
			border: 1px solid red;
			margin-top: 20px;
	
}
.zjiansan .disanyebox .sanzhangsan table tr td{
			/* border: 1px solid red; */
			width: 200px;
			height: 50px;
			background-color: #F8F8FF;
}
.zjiansan .disanyebox .sanzhangsan table tr td input{
	width: 100px;
	height: 50px;
	
}
.zjiansan .disanyebox .sanzhangsan table tr td input:hover{
	box-shadow: 0px 0px 10px 10px black ;
}
.zjiansan .disanyebox .sanzhangsiye{
	
}
.zjiansan .disanyebox .sanzhangsiye .shuo{
	position: absolute;
	top: 100px;
	left: 50px;
}
.zjiansan .disanyebox .sanzhangsiye table{
	margin: 100px auto;
	
}
.zjiansan .disanyebox .sanzhangsiye  table th{
	width: 200px;
}
.zjiansan .disanyebox .sanzhangsiye  table td{
	width: 200px;
}
.zjiansan .disanyebox .sanzhangsiye table td #inp{
	width: 200px;
	height: 20px;
}
.zjiansan .disanyebox .sanzhangsiye input{
	width: 100px;
	margin-left: 30px;
	
}














/* 
		
		<!--
			第四页内容
			第四页内容
			第四页内容
			第四页内容
			第四页内容
			第四页内容
			第四页内容
			
			第四页内容
			第四页内容
			第四页内容
			第四页内容
			
			第四页内容
			
			
			第四页内容
			第四页内容
			
			第四页内容
			第四页内容
			第四页内容
			
			第四页内容
			第四页内容
			第四页内容
		
	 -->
*/

.bji_zjiansi .siyeul{

}
.bji_zjiansi .siyeul li{
	display: inline-block;
	width: 1000px;
	height: 800px;
	background-color: white;
	text-align: left;
	margin-top: 20px;
	margin-left: 10px;
}
.bji_zjiansi .siyeul li:nth-child(2){
	height: 1200px;
}
.bji_zjiansi .siyeul p{
	margin-top: 10px;
	font-size: 23px;
}
.bji_zjiansi .siyeul span{
	margin-left: 20px;
	color: #999AAA;
}