* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
.daoHan {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.daoHan h1 {
    width: 200px;
    height: 50px;
}

.daoHan input {
    width: 25rem;
    height: 44px;
    margin-right: 20px;
    box-shadow: 0 0 20px 0 #999AAA;
    font-size: 20px;
    font-weight: 400;
    color: #999AAA;
    border-radius: 5px;
    border: none;
    outline: none;
    text-indent: 1em;
}

.shouYe {
    width: 100%;
    height: 40px;
    background-color: #96B97D;
}

.shouYe button {
    width: 50px;
    height: 40px;
    color: white;

    font-size: 18px;

    margin-right: 10px;
    outline: none;
    background: none;
    border: none;
}

.box {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.zuoHeZi {
    width: 20%;
    height: 500px;
    /*background-color: #2196F3;*/
    display: flex;
    justify-content: flex-end;


}
.zuoBiaHeZi {
    width: 12rem;
    height: 800px;
    margin-top: 10px;
    border: 1px solid #999AAA;
    float: left;
    position: fixed;
}
.zuoBiaHeZi li {
    width: 12rem;
    height: 45px;
    border: 1px solid #999AAA;

    background-color: white;
}

.zuoBiaHeZi li:nth-child(1) {
    background-color: #999AAA;
}

.zuoBiaHeZi li a {
    box-sizing: border-box;
    display: block;
    line-height: 40px;
    margin-left: 10px;

}

.zuoBiaHeZi li a img {
    width: 20px;

}


/*ul*/
.box .youHeZi > ul {
    width: 99%;
    height: 600px;
    /*background-color: red;*/

}

.box .youHeZi .youBiaHeZi li:nth-child(1) {
    width: 99%;
    height: 50px;
    border-bottom: 1px solid #999AAA;
    line-height: 50px;
    padding-left: 10px;
    background: none;
}

.box .youHeZi .youBiaHeZi li {
    width: 300px;
    height: 200px;
    margin: 10px 10px;
    background-color: #bbb;
    float: left;
    text-align: left;
    line-height: 50px;
}

.box .youHeZi .youBiaHeZi li a {
    text-decoration: none;
}

/*.box .youHeZi .youBiaHeZi li h4 {*/
/*    color: green;*/
/*    margin-left: 15px;*/
/*}*/
.box .youHeZi .youBiaHeZi li span {
    display: block;
    width: 200px;
    height: 30px;
    background-color: orangered;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    color: black;
    font-size: 15px;
    margin-left: 60px;
    margin-top: -16px;
}
.box .youHeZi .youBiaHeZi li span:hover{
    color: white;
}
.box .youHeZi .youBiaHeZi .xianTia{
    color: white;
}





/*手机尺寸*/
@media screen and (min-device-width: 0px) and (max-device-width: 360px) {
    .daoHan {
        display: none;
    }

    .shouYe {
        display: flex;
        justify-content: flex-end;
    }

    .shouYe {
        height: 50px;
    }

    .shouYe img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: #999AAA;
    }

    .shouYe button {
        display: none;
    }

    .box .zuoHeZi {
        position: absolute;
        top: -10px;
        margin-left: -80px;
        /*display: none;*/
        transition: 0.5s;

    }

    .box .zuoBiaHeZi {
        transition: 1s;
    }

    .box .youHeZi > ul {
        height: 1200px;
    }

    .box .shuJiHeZiDe {
        width: 200px;
        height: 800px;
        position: absolute;
        /*background-color: #FC5531;*/
        top: -10px;
        left: 189px;
        opacity: 0.1;
        display: none;
    }


}

/*平板尺寸*/
@media screen and (min-device-width: 361px) and (max-device-width: 1024px) {

    .shouYe img {
        display: none;
    }

    .box .youHeZi > ul {
        width: 70%;
        height: 800px;
        /*background-color: black;*/

    }

    .box .youHeZi .youBiaHeZi li:nth-child(1) {
        width: 60%;
        background-color: #96B97D;
    }

    .box .youHeZi {
        margin-left: 80px;
    }


}

/*显示器尺寸*/
@media screen and (min-device-width: 1025px) and (max-device-width: 50000px) {
    .daoHan h1 {
        margin-left: 20%;
    }

    .shouYe {
        padding-left: 20%;
    }

    .shouYe img {
        display: none;
    }

    .zuoBiaHeZi {
        margin-left: 20%;
    }

    .box .youHeZi {
        margin-left: 80px;
    }

    .zuoHeZi {
        width: 50%;

    }


}