*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.box{
	width: 500px;
	height: 100px;
	border: 2px solid black;
	box-shadow: 0px 0px 10px 10px black;
	margin: 70px auto;

	
}
.box .box{
	width: 200px;
	height: 50px;
	margin: 15px 10px;
	box-shadow: 0px 0px 10px 10px red;
	font-size: 30px;
	text-align: center;
	position: absolute;
	background-color: white;
	transition: 2s;	
}
.box .box2{
	
	transition: 5s;	
}
.box .box3{
	
	transition: 8s;	
}
ul{
	
}
ul .boo{
	
	width: 800px;
	height: 100px;
	border: 2px solid black;
	box-shadow: 0px 0px 10px 10px black;
	margin: 20px auto;
	transition: 5s;
}
ul .boo1{
	width: 200px;
	height: 50px;
	box-shadow: 0px 0px 10px 10px red;
	font-size: 20px;
	text-align: center;
	background-color: white;	
	float: left;
	margin: 20px 10px;
	background-color: aqua;
}

.shijian{
	width: 200px;
	height: 800px;
	background-color: aqua;
	box-shadow: 0px 0px 10px 0px black;
	position: absolute;
	left: 0%;
	top: 0px;
}
#ann{
	width: 200px;
	height: 50px;
	background-color: orange;
	border-radius: 20px;
}
